.izweb-item {
    display: table;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.izweb-item .izweb-item-left {
    display: table-cell;
    vertical-align: top;
}
.izweb-item .izweb-item-right {
    display: table-cell;
    vertical-align: top;
}
.izweb-item .post-title {
    line-height: 40px;
}
.izweb-item a.izw-title-link {
    background: url("../images/title-icon.png") left center no-repeat;
    padding-left: 40px;
}
.izweb-item.include-clinical-trials .post-title a.izw-title-link {
    background: url("../images/title-icon-orange.png") left center no-repeat;
    padding-left: 40px;
}
.izweb-item  a.izw-title-link,.izweb-item a.izw-title-link:visited {
    font-weight: 600;
    font-size: 1.4em;
    color: #27CCC0;
    text-decoration: none;
    display: table-cell;
}
.izweb-item  a.izw-detail {
    float: right;
    text-decoration: none;
    background: #27CCC0;
    line-height: 40px;
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.izweb-item .post-content{
    padding: 0;
    padding-left: 40px;
}
.izweb-item .post-content ul.izw-list-field{
    margin: 0;
}
.izweb-item ul.izw-list-field {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.izweb-item .izweb-list-fields ul li {
    margin: 0;
    padding: 0;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.izweb-item .izweb-list-fields ul li label {
    font-weight: 600;
    display: table-cell;
    min-width: 120px;
    padding: 0;
    margin: 0;
}
.izweb-item .izweb-list-fields ul li span.izweb-field-value{
    display: table-cell;
}
.izweb-item .alr{
    text-align: right;
}
#izweb-search .izweb-search-form form{
    display: table;
    width: 100%;
}
#izweb-search .izweb-search-form form > div{
    display: table-cell;
    width: 50%;
}
#izweb-search .izweb-search-form form div input[type="text"]{
    background: #FFF;
	box-shadow: none!important;
	-o-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	transition: none!important;
    -moz-transition: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
}
#izweb-search .izweb-search-form form div.izw-left {
    margin: 0;
    padding: 0;
	box-shadow: none!important;
	-o-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
#izweb-search .izweb-search-form form div.izw-right {
    margin: 0;
    padding: 0;
    text-align: right;
}
#izweb-search input[type="text"] {
    width: auto;
    min-width: 35%;
	box-shadow: none!important;
	-o-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	transition: none!important;
    -moz-transition: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
}
.izweb .widget .izweb-list-fields ul li{
    width: 100%;
}
.izweb .widget .izweb-list-fields ul li label{
    width: auto;
    font-weight: bold;
}
#sidebar.izweb .widget h4,#sidebar.izweb .widget h4 a{
    line-height: 50px;
    padding: 0px 10px;
    color: #FFF;
    text-decoration: none;
    clear: both;

}
#sidebar.izweb .widget h4.izw-blue{
    background: #27CCC0;
    font-weight: bold;
}
#sidebar.izweb .widget h4.izw-orange{
    background: #ff5d52;
}
.izweb-item.include-clinical-trials  a.izw-detail {
    background: #ff5d52;
}
.izweb-item.include-clinical-trials  a.izw-title-link,.izweb-item.include-clinical-trials a.izw-title-link:visited {
    color: #ff5d52;
}
#search-outer .ui-widget-content li:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    background: silver !important;
}
.wp-pagenavi,nav.izweb-pagination {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    float: left;
}
nav.izweb-pagination a,.wp-pagenavi a {
    text-decoration: none;
    padding: 5px 10px;
    background: #e4e4e4;
    color: #000000;
    font-weight: bold;
}
.wp-pagenavi span{
    border: none;
}
nav.izweb-pagination span.page-current, .wp-pagenavi span.current {
    padding: 5px 10px;
}
nav.izweb-pagination a,.wp-pagenavi a {
    text-decoration: none;
    padding: 5px 10px;
    background: #27CCC0;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}
nav.izweb-pagination a:hover, .wp-pagenavi a:hover{
    background: #999999;
}
h4.box-shadow {
    box-shadow: 3px 3px 5px #888;
    font-size: 0.8em !important;
}
#izweb-search .izweb-search-form .nectar-button.has-icon{
    padding: 12px 13px !important;
    padding-left: 42px !important;
    padding-right: 42px !important;
    top: 4 !important;
	box-shadow: none!important;
	-o-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	transition: none!important;
    -moz-transition: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
}
.izw-error-mes{
    width: 530px;
    margin: 20px auto;
}
.nectar-milestone .number.eap > span{
    background: url("../images/title-icon.png") left center no-repeat;
    padding-left: 40px;
}
.nectar-milestone .number.c > span{
    background: url("../images/title-icon-orange.png") left center no-repeat;
    padding-left: 40px;
}
@media screen and (max-width: 1024px){
    .izweb-item .izweb-list-fields ul li label {
        min-width: 120px;
    }
}
@media screen and (max-width: 640px) {
    .izweb-item .izweb-list-fields ul li {
        width: 100%;
    }
}