.post-title {
    float: left;
    width: 100%;
}
.post-title a.izw-title-link {
    background: url("../images/title-icon.png") left center no-repeat;
    padding-left: 40px;
}
.post-title  a.izw-title-link, .entry-content .post-title a.izw-title-link:visited {
    font-weight: 600;
    font-size: 1.4em;
    color: #27cbc0;
    text-decoration: none;
}
.post-title  a.izw-detail {
    float: right;
    text-decoration: none;
    background: #27cbc0;
    line-height: 40px;
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.post-title a.izw-title-link:hover,.post-title a.izw-detail:hover{
    color: #c7c7c7;
}
ul.izw-list-field {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.izweb-list-fields ul li {
    margin: 0;
    padding: 0;
    width: 50%;
    display: inline-block;
}
.izweb-list-fields ul li label {
    font-weight: 600;
    display: inline-block;
    width: 25%;
}
.alr{
    text-align: right;
}
.izw-left {
    width: 50%;
    margin: 0;
    display: inline-block;
    padding: 0;
}
.izw-right {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    text-align: right;
}
#izweb-search input[type="text"] {
    width: auto;
    min-width: 38%;
}